<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>验证码</title>
    <style>
        #code{
            width: 100px;
            height: 50px;
            background-color: lightblue;
            font-size: 44px;
            letter-spacing: 5px;
        }
    </style>
</head>
<body>
<script>
    function createRndCode() {
        let chars = ['a','b','c','1','2','3'];
        let randCode = "";
        for(let i=0; i<4; i++){
            let randPos = Math.floor(Math.random()*(chars.length-1));
            randCode += chars[randPos];
        }
        document.getElementById("code").innerHTML = randCode;
    }
</script>
<div id="code"></div>
<button onclick="createRndCode()">验证码</button>
</body>
</html>